<header>
	 <nav>
	 	<ul>
	 		<li><a link="home">home</a></li>
	 		<li><a link="usuarios">usuarios</a></li>
	 		<li><a link="pedidos">pedidos</a></li>
	 	</ul>
	 </nav>
</header>
<section>
	<h1>Usuarios</h1>
	<ul>
		{{#.}}
		<li>{{uid}} | {{name}} | {{mail}}</li>
		{{/.}}
	</ul>
</section>